<a href="https://colab.research.google.com/github/JayabharathiRavi/Mongodb_Task_D19/blob/main/D19_mongodbtask.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install dnspython
!-m pip install pymongo[srv]

Collecting dnspython
  Downloading dnspython-2.2.0-py3-none-any.whl (266 kB)
     |████████████████████████████████| 266 kB 5.1 MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.2.0
/bin/bash: - : invalid option
Usage:	/bin/bash [GNU long option] [option] ...
	/bin/bash [GNU long option] [option] script-file ...
GNU long options:
	--debug
	--debugger
	--dump-po-strings
	--dump-strings
	--help
	--init-file
	--login
	--noediting
	--noprofile
	--norc
	--posix
	--rcfile
	--restricted
	--verbose
	--version
Shell options:
	-ilrsD or -c command or -O shopt_option		(invocation only)
	-abefhkmnptuvxBCHP or -o option

In [ ]:
#TELEPHONE DERECTORY

In [ ]:
import pymongo
from pymongo import MongoClient
client = pymongo.MongoClient("mongodb+srv://jayabharathi:4561@cluster0.ycchv.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")

In [ ]:
db = client.test

In [ ]:
records=db.test_collection1
records.count_documents({})

0

In [ ]:
#C-CREATE 
'''INSERT MANY'''
mylist=[{'_id':1,' Name':'Guvi','Phone number':8553965213,'Place':'Chennai'},
        {'_id':2,'Name':'GuviGeek','Phone number':8553965223,'Place':'Bangalore'},
        {'_id':3,'Name':'Guvimentor','Phone number':8553965233,'Place':'Mumbai'}
        ]
x=records.insert_many(mylist)
print(x.inserted_ids)

[1, 2, 3]

In [ ]:
'''INSERT ONE'''
x={'_id':4,'Name':'IIT','Phone number':8553222213,'Place':'Chennai'}
y=records.insert_one(x)
print(y.inserted_id)

4

In [ ]:
#R-RETRIEVE
'''find all'''
x=db.test_collection1.find()
for i in x:
  print(i)

{'_id': 1, ' Name': 'Guvi', 'Phone number': 8553965213, 'Place': 'Chennai'}
{'_id': 2, 'Name': 'GuviGeek', 'Phone number': 8553965223, 'Place': 'Bangalore'}
{'_id': 3, 'Name': 'Guvimentor', 'Phone number': 8553965233, 'Place': 'Mumbai'}
{'_id': 4, 'Name': 'IIT', 'Phone number': 8553222213, 'Place': 'Chennai'}

In [ ]:
'''find_one()'''
x={'_id':2}
db.test_collection1.find_one(x)

{'Name': 'GuviGeek',
 'Phone number': 8553965223,
 'Place': 'Bangalore',
 '_id': 2}

In [ ]:
myquery={'Place':'Chennai'}
mydoc=db.test_collection1.find(myquery,{'_id':0,'Place':0})
for x in mydoc:
  print(x)

{' Name': 'Guvi', 'Phone number': 8553965213}
{'Name': 'IIT', 'Phone number': 8553222213}

In [ ]:
#U-UPDATE
'''update one'''
myquery={"Name":"IIT"}
newvalues={"$set":{"Name":"IIT Madras"}}
records.update_one(myquery,newvalues)
for x in records.find():
  print(x)

{'_id': 1, ' Name': 'Guvi', 'Phone number': 8553965213, 'Place': 'Chennai'}
{'_id': 2, 'Name': 'GuviGeek', 'Phone number': 8553965223, 'Place': 'Bangalore'}
{'_id': 3, 'Name': 'Guvimentor', 'Phone number': 8553965233, 'Place': 'Mumbai'}
{'_id': 4, 'Name': 'IIT Madras', 'Phone number': 8553222213, 'Place': 'Chennai'}

In [ ]:
#D-DELETE
'''delete one'''
myquery={'_id':2}
records.delete_one(myquery)
for x in records.find():
  print(x)

{'_id': 1, ' Name': 'Guvi', 'Phone number': 8553965213, 'Place': 'Chennai'}
{'_id': 3, 'Name': 'Guvimentor', 'Phone number': 8553965233, 'Place': 'Mumbai'}
{'_id': 4, 'Name': 'IIT Madras', 'Phone number': 8553222213, 'Place': 'Chennai'}

In [ ]:
'''db.test_collection1.drop()'''