<a href="https://colab.research.google.com/github/JayabharathiRavi/Mongodb_Task_D19/blob/main/D19_mongodbtask.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#MONGODB TASK

## **Telephone Directory CRUD Operation**

Telephone directory: Perform CRUD operation using mongodb and python.
You need to

Import necessary modules.

Perform CRUD operations to manipulate data in MongoDB. Create, retrieve, update, and delete (CRUD)

Create a database using attribute style on a MongoClient instance. Declare a variable db and assign the new database as an attribute of the client.

Create a collection.

For CRUD operation, create a directory which has fields like Name, Phone number, Place etc.,

Insert the record into the collection.

Make a query to find records you just created.

Modify the records, use the update_one() method. The update_one() method requires two arguments, query and update.

Delete the record, use delete_one() method. delete_one() requires a query parameter which specifies the document to delete.

In [ ]:
!pip install dnspython
!-m pip install pymongo[srv]

Collecting dnspython
  Downloading dnspython-2.2.1-py3-none-any.whl (269 kB)
     |████████████████████████████████| 269 kB 14.3 MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.2.1
/bin/bash: - : invalid option
Usage:	/bin/bash [GNU long option] [option] ...
	/bin/bash [GNU long option] [option] script-file ...
GNU long options:
	--debug
	--debugger
	--dump-po-strings
	--dump-strings
	--help
	--init-file
	--login
	--noediting
	--noprofile
	--norc
	--posix
	--rcfile
	--restricted
	--verbose
	--version
Shell options:
	-ilrsD or -c command or -O shopt_option		(invocation only)
	-abefhkmnptuvxBCHP or -o option

In [ ]:
#Telephone Directory CRUD Operation

In [ ]:
import pymongo
from pymongo import MongoClient
client=pymongo.MongoClient('mongodb+srv://jayabharathi:4561@cluster0.ycchv.mongodb.net/myFirstDatabase?retryWrites=true&w=majority')

In [ ]:
db = client.test

In [ ]:
records=db.test_collection1
records.count_documents({})

0

In [ ]:
#C-CREATE 
'''INSERT MANY'''
mylist=[{'_id':1,' Name':'Guvi','Phone number':8553965213,'Place':'Chennai'},
        {'_id':2,'Name':'GuviGeek','Phone number':8553965223,'Place':'Bangalore'},
        {'_id':3,'Name':'Guvimentor','Phone number':8553965233,'Place':'Mumbai'},
        {'_id':4,'Name':'Roja','Phone number':7984352112,'Place':'pune'},
        {'_id':5,'Name':'Rajasekar','Phone number':7984323412,'Place':'madurai'},
        {'_id':6,'Name':'Rirmala','Phone number':9012345678,'Place':'coimbatore'},
        {'_id':7,'Name':'Bharathi','Phone number':9876543210,'Place':'salem'},
        {'_id':8,'Name':'Ram','Phone number':7984300012,'Place':'pune'},
        {'_id':9,'Name':'Janaki','Phone number':9751223409,'Place':'salem'},
        ]
x=records.insert_many(mylist)
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
'''INSERT ONE'''
x={'_id':10,'Name':'IIT','Phone number':8553222213,'Place':'Chennai'}
y=records.insert_one(x)
print(y.inserted_id)

10

In [ ]:
#R-RETRIEVE
'''find all'''
x=db.test_collection1.find()
for i in x:
  print(i)

{'_id': 1, ' Name': 'Guvi', 'Phone number': 8553965213, 'Place': 'Chennai'}
{'_id': 2, 'Name': 'GuviGeek', 'Phone number': 8553965223, 'Place': 'Bangalore'}
{'_id': 3, 'Name': 'Guvimentor', 'Phone number': 8553965233, 'Place': 'Mumbai'}
{'_id': 4, 'Name': 'Roja', 'Phone number': 7984352112, 'Place': 'pune'}
{'_id': 5, 'Name': 'Rajasekar', 'Phone number': 7984323412, 'Place': 'madurai'}
{'_id': 6, 'Name': 'Rirmala', 'Phone number': 9012345678, 'Place': 'coimbatore'}
{'_id': 7, 'Name': 'Bharathi', 'Phone number': 9876543210, 'Place': 'salem'}
{'_id': 8, 'Name': 'Ram', 'Phone number': 7984300012, 'Place': 'pune'}
{'_id': 9, 'Name': 'Janaki', 'Phone number': 9751223409, 'Place': 'salem'}
{'_id': 10, 'Name': 'IIT', 'Phone number': 8553222213, 'Place': 'Chennai'}

In [ ]:
'''find_one()'''
x={'_id':2}
db.test_collection1.find_one(x)

{'Name': 'GuviGeek',
 'Phone number': 8553965223,
 'Place': 'Bangalore',
 '_id': 2}

In [ ]:
myquery={'Place':'salem'}
mydoc=db.test_collection1.find(myquery,{'_id':0,'Place':0})
for x in mydoc:
  print(x)

{'Name': 'Bharathi', 'Phone number': 9876543210}
{'Name': 'Janaki', 'Phone number': 9751223409}

In [ ]:
#U-UPDATE
'''update one'''
myquery={"Name":"IIT"}
newvalues={"$set":{"Name":"IIT Madras"}}
records.update_one(myquery,newvalues)
for x in records.find():
  print(x)

{'_id': 1, ' Name': 'Guvi', 'Phone number': 8553965213, 'Place': 'Chennai'}
{'_id': 2, 'Name': 'GuviGeek', 'Phone number': 8553965223, 'Place': 'Bangalore'}
{'_id': 3, 'Name': 'Guvimentor', 'Phone number': 8553965233, 'Place': 'Mumbai'}
{'_id': 4, 'Name': 'Roja', 'Phone number': 7984352112, 'Place': 'pune'}
{'_id': 5, 'Name': 'Rajasekar', 'Phone number': 7984323412, 'Place': 'madurai'}
{'_id': 6, 'Name': 'Rirmala', 'Phone number': 9012345678, 'Place': 'coimbatore'}
{'_id': 7, 'Name': 'Bharathi', 'Phone number': 9876543210, 'Place': 'salem'}
{'_id': 8, 'Name': 'Ram', 'Phone number': 7984300012, 'Place': 'pune'}
{'_id': 9, 'Name': 'Janaki', 'Phone number': 9751223409, 'Place': 'salem'}
{'_id': 10, 'Name': 'IIT Madras', 'Phone number': 8553222213, 'Place': 'Chennai'}

In [ ]:
#D-DELETE
'''delete one'''
myquery={'_id':2}
records.delete_one(myquery)
for x in records.find():
  print(x)

{'_id': 1, ' Name': 'Guvi', 'Phone number': 8553965213, 'Place': 'Chennai'}
{'_id': 3, 'Name': 'Guvimentor', 'Phone number': 8553965233, 'Place': 'Mumbai'}
{'_id': 4, 'Name': 'Roja', 'Phone number': 7984352112, 'Place': 'pune'}
{'_id': 5, 'Name': 'Rajasekar', 'Phone number': 7984323412, 'Place': 'madurai'}
{'_id': 6, 'Name': 'Rirmala', 'Phone number': 9012345678, 'Place': 'coimbatore'}
{'_id': 7, 'Name': 'Bharathi', 'Phone number': 9876543210, 'Place': 'salem'}
{'_id': 8, 'Name': 'Ram', 'Phone number': 7984300012, 'Place': 'pune'}
{'_id': 9, 'Name': 'Janaki', 'Phone number': 9751223409, 'Place': 'salem'}
{'_id': 10, 'Name': 'IIT Madras', 'Phone number': 8553222213, 'Place': 'Chennai'}

In [ ]:
records=db.test_collection1
records.count_documents({})

9

In [ ]:
db.test_collection1.drop()

In [ ]:
#STUDENT DATA BASE MONGODB

## **Student Database (MongoDB)**

Here is the student dataset in the json format. .
Perform the following operation:

First create a database and then load the student.json dataset.

Insert the students record into the collection.

Queries need to answer:

1)      Find the student name who scored maximum scores in all (exam, quiz and homework)?

2)      Find students who scored below average in the exam and pass mark is 40%?

3)      Find students who scored below pass mark and assigned them as fail, and above pass mark as pass in all the categories.

4)       Find the total and average of the exam, quiz and homework and store them in a separate collection.

5)      Create a new collection which consists of students who scored below average and above 40% in all the categories.

6)      Create a new collection which consists of students who scored below the fail mark in all the categories.

7)      Create a new collection which consists of students who scored above pass mark in all the categories.

Data set Link: https://drive.google.com/file/d/1m7bmdkn6uFCYmo_6zf8VNafqaE2c0FHY/view?usp=sharing

In [ ]:
db = client.test
records2=db.test_collection2
records2.count_documents({})

200

In [ ]:
records2.drop()

In [ ]:
from google.colab import files
files.upload()

In [ ]:
import json

In [ ]:
data = []
for line in open('/content/students.json', 'r'):
    data.append(json.loads(line))

In [ ]:
#insert datas
x=records2.insert_many(data)
print(x.inserted_ids)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199]

In [ ]:
records2.count_documents({})

200

In [ ]:
records2.find_one()

{'_id': 0,
 'name': 'aimee Zank',
 'scores': [{'score': 1.463179736705023, 'type': 'exam'},
  {'score': 11.78273309957772, 'type': 'quiz'},
  {'score': 35.8740349954354, 'type': 'homework'}]}

In [ ]:
'''1) Find the student name who scored maximum scores in all (exam, quiz and homework)?'''

In [ ]:
db = client.test
exam=db.exam_collection
exam.count_documents({})

200

In [ ]:
exam.drop()

In [ ]:
for j in range(200):
  x=records2.aggregate([{"$match":{"_id":j}},{"$unwind":"$scores"},{"$match":{"scores.type":"exam"}},{"$sort":{"scores.score":-1}}])
  for i in x:
    i=exam.insert_many([i])
   # print(i)

In [ ]:
#student who score highest score in exam
s=exam.find().sort('scores.score',-1).limit(1)
for i in s:
  print(i)

{'_id': 136, 'name': 'Margart Vitello', 'scores': {'score': 99.33685767140612, 'type': 'exam'}}

In [ ]:
exam.count_documents({})

200

In [ ]:
db = client.test
quiz=db.quiz_collection
quiz.count_documents({})

200

In [ ]:
quiz.drop()

In [ ]:
for j in range(200):
  x=records2.aggregate([{"$match":{"_id":j}},{"$unwind":"$scores"},{"$match":{"scores.type":"quiz"}},{"$sort":{"scores.score":-1}}])
  for i in x:
    i=quiz.insert_many([i])
   # print(i)

In [ ]:
#student who score highest score in quiz
s=quiz.find().sort('scores.score',-1).limit(1)
for i in s:
  print(i)

{'_id': 69, 'name': 'Cody Strouth', 'scores': {'score': 99.80348240553108, 'type': 'quiz'}}

In [ ]:
quiz.count_documents({})

200

In [ ]:
db = client.test
homework=db.homework_collection
homework.count_documents({})

200

In [ ]:
homework.drop()

In [ ]:
for j in range(200):
  x=records2.aggregate([{"$match":{"_id":j}},{"$unwind":"$scores"},{"$match":{"scores.type":"homework"}},{"$sort":{"scores.score":-1}}])
  for i in x:
    i=homework.insert_many([i])
   # print(i)

In [ ]:
#student who score highest score in homework
s=homework.find().sort('scores.score',-1).limit(1)
for i in s:
  print(i)

{'_id': 178, 'name': 'Whitley Fears', 'scores': {'score': 99.77237745070993, 'type': 'homework'}}

In [ ]:
homework.count_documents({})

200

In [ ]:
'''1) Find the student name who scored maximum scores in all (exam, quiz and homework)?'''

# max score in exam --- 'Margart Vitello'
'''{'_id': 136, 'name': 'Margart Vitello', 'scores': {'score': 99.33685767140612, 'type': 'exam'}}'''
# max score in quiz ---  'Cody Strouth'
'''{'_id': 69, 'name': 'Cody Strouth', 'scores': {'score': 99.80348240553108, 'type': 'quiz'}} '''
# max score in homework --- 'Whitley Fears'
'''{'_id': 178, 'name': 'Whitley Fears', 'scores': {'score': 99.77237745070993, 'type': 'homework'}}'''

In [ ]:
'''2)      Find students who scored below average in the exam and pass mark is 40%? '''

In [ ]:
'''avg score in exam'''
x=db.exam_collection.aggregate([{'$group' : {'_id' : "null", "avg_exam" : {'$avg' : "$scores.score"}}}])
for i in x:
  print(i)

{'_id': 'null', 'avg_exam': 48.67367075950175}

In [ ]:
db = client.test
lessavg=db.lessavg_collection
lessavg.count_documents({})

104

In [ ]:
lessavg.drop()

In [ ]:
'''less than avg score in exam'''
x=db.exam_collection.find({'scores.score':{'$lt':48.67367075950175} })
for i in x:
  i=lessavg.insert_many([i])
  #print(i)

In [ ]:
lessavg.count_documents({})

104

In [ ]:
'''2) Find students who scored below average in the exam and pass mark is 40%? '''

 #lessavg collection shows the students who scored below average in exam

In [ ]:
'''3)      Find students who scored below pass mark and assigned them as fail, and above pass mark as pass in all the categories.'''

In [ ]:
# 1) EXAM

In [ ]:
db = client.test
failexam=db.fail_exam
failexam.count_documents({})

81

In [ ]:
failexam.drop()

In [ ]:
x=db.exam_collection.find(
    {'scores.score':{'$lt':40}
     }
)
for i in x:
  i=failexam.insert_many([i])
  #print(i)

In [ ]:
failexam.count_documents({})

81

In [ ]:
db = client.test
passexam=db.pass_exam
passexam.count_documents({})

119

In [ ]:
passexam.drop()

In [ ]:
x=db.exam_collection.find(
    {'scores.score':{'$gte':40}
     }
)
for i in x:
  i=passexam.insert_many([i])
  #print(i)

In [ ]:
passexam.count_documents({})

119

In [ ]:
# 2) QUIZ

In [ ]:
db = client.test
failquiz=db.fail_quiz
failquiz.count_documents({})

86

In [ ]:
failquiz.drop()

In [ ]:
x=db.quiz_collection.find(
    {'scores.score':{'$lt':40}
     }
)
for i in x:
  i=failquiz.insert_many([i])
  #print(i)

In [ ]:
failquiz.count_documents({})

86

In [ ]:
db = client.test
passquiz=db.pass_quiz
passquiz.count_documents({})

114

In [ ]:
passquiz.drop()

In [ ]:
x=db.quiz_collection.find(
    {'scores.score':{'$gte':40}
     }
)
for i in x:
  i=passquiz.insert_many([i])
  #print(i)

In [ ]:
passquiz.count_documents({})

114

In [ ]:
# 3) HOMEWORK

In [ ]:
db = client.test
failhomework=db.fail_homework
failhomework.count_documents({})

29

In [ ]:
failhomework.drop()

In [ ]:
x=db.homework_collection.find(
    {'scores.score':{'$lt':40}
     }
)
for i in x:
  i=failhomework.insert_many([i])
  #print(i)

In [ ]:
failhomework.count_documents({})

29

In [ ]:
db = client.test
passhomework=db.pass_homework
passhomework.count_documents({})

171

In [ ]:
passhomework.drop()

In [ ]:
x=db.homework_collection.find(
    {'scores.score':{'$gte':40}
     }
)
for i in x:
  i=passhomework.insert_many([i])
  #print(i)

In [ ]:
passhomework.count_documents({})

171

In [ ]:
'''3) Find students who scored below pass mark and assigned them as fail, and above pass mark as pass in all the categories.'''

#db.fail_exam, db.fail_quiz, db.fail_homework....shows who scored below passmark and assingned the collection as fail in all the categories
#db.pass_exam, db.pass_quiz, db.pass_homework....shows who scored above passmark and assingned the collection as pass in all the categories

In [ ]:
'''4)       Find the total and average of the exam, quiz and homework and store them in a separate collection.'''

In [ ]:
# 1) EXAM

In [ ]:
db = client.test
exam1=db.exam
exam1.count_documents({})

2

In [ ]:
exam1.drop()

In [ ]:
x= db.exam_collection.aggregate([{"$match": {"scores.type":"exam"}},{ "$unwind":"$scores"},{"$match": { "scores.type":"exam" } },{"$group": {
       "_id": 'total_score_exam',
       "total_score": { "$sum": "$scores.score" } }}])
for i in x:
  i=exam1.insert_many([i])
  print(i)

<pymongo.results.InsertManyResult object at 0x7f6154d08230>

In [ ]:
x=db.exam_collection.aggregate([{'$group' : {'_id' : "avg_score_exam", "avg_score" : {'$avg' : "$scores.score"}}}])
for i in x:
  i=exam1.insert_many([i])
  print(i)

<pymongo.results.InsertManyResult object at 0x7f615e70cb40>

In [ ]:
exam1.count_documents({})

2

In [ ]:
# 2) QUIZ

In [ ]:
db = client.test
quiz1=db.quiz
quiz1.count_documents({})

2

In [ ]:
quiz1.drop()

In [ ]:
x= db.quiz_collection.aggregate([{"$match": {"scores.type":"quiz"}},{ "$unwind":"$scores"},{"$match": { "scores.type":"quiz" } },{"$group": {
       "_id": 'total_score_quiz',
       "total_score": { "$sum": "$scores.score" } }}])
for i in x:
  i=quiz1.insert_many([i])
  print(i)

<pymongo.results.InsertManyResult object at 0x7f6154d41820>

In [ ]:
x=db.quiz_collection.aggregate([{'$group' : {'_id' : "avg_score_quiz", "avg_score" : {'$avg' : "$scores.score"}}}])
for i in x:
  i=quiz1.insert_many([i])
  print(i)

<pymongo.results.InsertManyResult object at 0x7f6154d50b40>

In [ ]:
quiz1.count_documents({})

2

In [ ]:
# 3) HOMEWORK

In [ ]:
db = client.test
homework1=db.homework
homework1.count_documents({})

2

In [ ]:
homework1.drop()

In [ ]:
x= db.homework_collection.aggregate([{"$match": {"scores.type":"homework"}},{ "$unwind":"$scores"},{"$match": { "scores.type":"homework" } },{"$group": {
       "_id": 'total_score_homework',
       "total_score": { "$sum": "$scores.score" } }}])
for i in x:
  i=homework1.insert_many([i])
  print(i)

<pymongo.results.InsertManyResult object at 0x7f6154cc9be0>

In [ ]:
x=db.homework_collection.aggregate([{'$group' : {'_id' : "avg_score_homework", "avg_score" : {'$avg' : "$scores.score"}}}])
for i in x:
  i=homework1.insert_many([i])
  print(i)

<pymongo.results.InsertManyResult object at 0x7f6154cc1aa0>

In [ ]:
homework1.count_documents({})

2

In [ ]:
'''4) Find the total and average of the exam, quiz and homework and store them in a separate collection.'''

# db.exam....this collection shows the total and average of the exam
# db.quiz....this collection shows the total and average of the quiz 
# db.homework....this collection shows the total and average of the homeework

In [ ]:
'''5)      Create a new collection which consists of students who scored below average and above 40% in all the categories.'''

In [ ]:
# 1) EXAM

In [ ]:
db = client.test
gtltexam=db.gt40_ltavg_exam
gtltexam.count_documents({})

23

In [ ]:
gtltexam.drop()

In [ ]:
x=db.exam_collection.find({'scores.score':{'$gte':40,'$lt':48.67367075950175}})
for i in x:
  i=gtltexam.insert_many([i])
  #print(i)

In [ ]:
gtltexam.count_documents({})

23

In [ ]:
# 2) QUIZ

In [ ]:
db = client.test
gtltquiz=db.gt40_ltavg_quiz
gtltquiz.count_documents({})

19

In [ ]:
gtltquiz.drop()

In [ ]:
x=db.quiz_collection.find({'scores.score':{'$gte':40,'$lt':48.67367075950175}})
for i in x:
  i=gtltquiz.insert_many([i])
  #print(i)

In [ ]:
gtltquiz.count_documents({})

19

In [ ]:
# 3) HOMEWORK

In [ ]:
db = client.test
gtlthomework=db.gt40_ltavg_homework
gtlthomework.count_documents({})

14

In [ ]:
gtlthomework.drop()

In [ ]:
x=db.homework_collection.find({'scores.score':{'$gte':40,'$lt':48.67367075950175}})
for i in x:
  i=gtlthomework.insert_many([i])
  #print(i)

In [ ]:
gtlthomework.count_documents({})

14

In [ ]:
'''5) Create a new collection which consists of students who scored below average and above 40% in all the categories.'''

#db.gt40_ltavg_exam....this shows the collection which consists of students who scored below average and above 40% in exam.
#db.gt40_ltavg_quiz....this shows the collection which consists of students who scored below average and above 40% in quiz.
#db.gt40_ltavg_homework....this shows the collection which consists of students who scored below average and above 40% in homework.

In [ ]:
'''6)      Create a new collection which consists of students who scored below the fail mark in all the categories.'''

In [ ]:
# 1) EXAM

In [ ]:
db = client.test
ltfailexam=db.lt_fail_exam
ltfailexam.count_documents({})

3

In [ ]:
ltfailexam.drop()

In [ ]:
x=db.exam_collection.find({'scores.score':{'$lt':1}})
for i in x:
  i=ltfailexam.insert_many([i])
  #print(i)

In [ ]:
ltfailexam.count_documents({})

3

In [ ]:
# 2) QUIZ

In [ ]:
db = client.test
ltfailquiz=db.lt_fail_quiz
ltfailquiz.count_documents({})

0

In [ ]:
ltfailquiz.drop()

In [ ]:
x=db.quiz_collection.find({'scores.score':{'$lt':1}})
for i in x:
  i=ltfailquiz.insert_many([i])
  #print(i)

In [ ]:
ltfailquiz.count_documents({})

5

In [ ]:
# 3) HOMEWORK

In [ ]:
db = client.test
ltfailhomework=db.lt_fail_homework
ltfailhomework.count_documents({})

0

In [ ]:
ltfailhomework.drop()

In [ ]:
x=db.homework_collection.find({'scores.score':{'$lt':1}})
for i in x:
  i=ltfailhomework.insert_many([i])
  #print(i)

In [ ]:
ltfailhomework.count_documents({})

0

In [ ]:
'''6) Create a new collection which consists of students who scored below the fail mark in all the categories.'''

#db.lt_fail_exam...this new collection which consists of students who scored below the fail mark in exam
#db.lt_fail_quiz...this new collection which consists of students who scored below the fail mark in quiz
#db.lt_fail_homework...this new collection which consists of students who scored below the fail mark in homework

In [ ]:
'''7)      Create a new collection which consists of students who scored above pass mark in all the categories.'''

In [ ]:
# 1) EXAM

In [ ]:
db = client.test
gtpassexam=db.gt_pass_exam
gtpassexam.count_documents({})

119

In [ ]:
gtpassexam.drop()

In [ ]:
x=db.exam_collection.find({'scores.score':{'$gte':40}})
for i in x:
  i=gtpassexam.insert_many([i])
  #print(i)

In [ ]:
gtpassexam.count_documents({})

119

In [ ]:
# 2) QUIZ

In [ ]:
db = client.test
gtpassquiz=db.gt_pass_quiz
gtpassquiz.count_documents({})

114

In [ ]:
gtpassquiz.drop()

In [ ]:
x=db.quiz_collection.find({'scores.score':{'$gte':40}})
for i in x:
  i=gtpassquiz.insert_many([i])
  #print(i)

In [ ]:
gtpassquiz.count_documents({})

114

In [ ]:
# 3) HOMEWORK

In [ ]:
db = client.test
gtpasshomework=db.gt_pass_homework
gtpasshomework.count_documents({})

171

In [ ]:
gtpasshomework.drop()

In [ ]:
x=db.homework_collection.find({'scores.score':{'$gte':40}})
for i in x:
  i=gtpasshomework.insert_many([i])
  #print(i)

In [ ]:
gtpasshomework.count_documents({})

171

In [ ]:
'''7) Create a new collection which consists of students who scored above pass mark in all the categories.'''

#db.gt_pass_exam.......this new collection which consists of students who scored above pass mark in exam
#db.gt_pass_quiz.......this new collection which consists of students who scored above pass mark in quiz
#db.gt_pass_homework...this new collection which consists of students who scored above pass mark in homework

In [ ]:
'''  BY JAYABHARATHI RAVI   ...THANK YOU...'''

'  BY JAYABHARATHI RAVI   ...THANK YOU...'